<div class="tasks new">
	<h2>Create Task</h2>
	<%= form_for(@task, :url => project_tasks_path(@project)) do |f| %>
		<%= render :partial => 'form', :locals => {:task => @task, :f => f} %>
		<div class="form-actions">
			<%= submit_tag("Create Task") %>
		</div>
	<% end %>
</div>