<div class="tasks show">
	<table summary="task detail">
		<tr>
			<th>Title</th>	
			<td><%= @task.title %></td>
		</tr>
		<tr>
			<th>Description</th>	
			<td><%= @task.description %></td>
		</tr>
		<tr>
			<th>Due Date</th>	
			<td><%= @task.due_date %></td>
		</tr>
		<tr>
			<th>Completed</th>	
			<td><%= @task.completed %></td>
		</tr>
	</table>
</div>