<div class="projects show">
	<h2>Show Task</h2>
	<table summary="project detail">
		<tr>
			<th>Title</th>	
			<td><%= @project.title %></td>
		</tr>
		<tr>
			<th>Description</th>	
			<td><%= @project.description %></td>
		</tr>
		<tr>
			<th>Due Date</th>	
			<td><%= @project.due_date %></td>
		</tr>
		<tr>
			<th>Completed</th>	
			<td><%= @project.completed %></td>
		</tr>
	</table>
</div>